<div class="container">
    <div class="custom-tabset">
        <uib-tabset active="2" justified="true">
            <uib-tab index="3" heading="help" select="main.setActiveTab($event)">
                <div class="tab-content">
                    <div class="filter">
                        <span class="title" ng-bind="main.activeTabName"></span>
                    </div>
                    <div class="content-out row">
                        <div class="col-lg-8 left">Left HELP</div>
                        <div class="col-lg-4 right">Right HELP</div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="agents" select="main.setActiveTab($event)">
                <div class="tab-content">
                    <div class="filter">
                        <span class="title" ng-bind="main.activeTabName"></span>
                    </div>
                    <div class="content-out row">
                        <div class="col-lg-8 left">
                            <ol>
                                <li ng-repeat="r in main.result"
                                    ng-class="{'idle':r.type=='idle','building':r.type=='building'}">
                                    <div class="first">
                                        <span>{{r.address}}</span>
                                        <span>{{r.type}}</span>
                                        <span>{{r.ipAddress}}</span>
                                        <span>{{r.localAddress}}</span>
                                    </div>
                                    <div class="second">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span class="add"><a href="javascript:void(0)" ng-click="main.addResources(r)">Specity Resources</a></span>
                                        <span class="resources">Resources:
                                            <span ng-repeat="s in r.resources">{{s.name}}
                                                <i href="javascript:void(0)" ng-click="remove(r,s.name)" class="glyphicon glyphicon-remove-circle"></i>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-4 right">
                            <div class="summary">

                            </div>
                            <div class="history">

                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="my cruise" select="main.setActiveTab($event)">
                <div class="tab-content">
                    <div class="filter">
                        <span class="title" ng-bind="main.activeTabName"></span>
                    </div>
                    <div class="content-out row">
                        <div class="col-lg-8 left">Left MY CRUISE</div>
                        <div class="col-lg-4 right">Right MY CRUISE</div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="0" heading="dashboard" select="main.setActiveTab($event)">
                <div class="tab-content">
                    <div class="filter">
                        <span class="title" ng-bind="main.activeTabName"></span>
                    </div>
                    <div class="content-out row">
                        <div class="col-lg-8 left">Left DASHBOARD</div>
                        <div class="col-lg-4 right">Right DASHBOARD</div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
