/* header styles */
header nav{
    margin-bottom: 10px !important;
}
header .nav > li > a{
    display: inline-block;
    padding: 0;
    line-height: 45px;
    text-decoration: underline;
}
header nav > ul{
    margin-right: 0 !important;
}
header nav > ul > li + li{
    margin-left: 20px;
}
.nav > li > a:hover,
.nav > li > a:focus{
    background-color: transparent;
    text-decoration: underline;
}
/* footer styles */
footer{
    margin-top: 10px;
}
